* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #8c5cf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.container {
  max-width: 600px;
  width: 100%;
  background: #e76bd9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.zakahCal h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.zakahCal input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.zakahCal input[type="text"]:focus {
  border-color: #007bff;
}

label {
  display: block;
  margin: 10px 0 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .zakahCal h2 {
    font-size: 1.2em;
  }

  .zakahCal input[type="text"] {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .zakahCal h2 {
    font-size: 1em;
  }

  .zakahCal input[type="text"] {
    padding: 6px;
  }
}
